<form #createKitten="ngForm" (ngSubmit)="onSubmit()">
    <div>
        Form submitted ? {{createKitten.submitted}}
        Form valid ? {{createKitten.valid}}
        Form invalid ? {{createKitten.invalid}}
    </div>
    
    <fieldset>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required>
    </fieldset>
    
    <div *ngIf="createKitten.submitted">
        <div *ngIf="name.errors">
            <span *ngIf="name.errors?.['required']">The name field is required</span>
        </div>
    </div>
    
    
    <fieldset>
        <label for="race">Race</label>
        <input type="text" id="race" name="race" [(ngModel)]="model.race" #race="ngModel" required>
    </fieldset>
    
    <div *ngIf="createKitten.submitted">
        <div *ngIf="race.errors">
            <span *ngIf="race.errors?.['required']">The race field is required</span>
        </div>
    </div>
    
    <fieldset>
        <label for="birthdate">Birthdate</label>
        <input type="text" id="birthdate" name="birthdate" [(ngModel)]="model.birthdate" #birthdate="ngModel" required>
    </fieldset>
    
    <div *ngIf="createKitten.submitted">
        <div *ngIf="birthdate.errors">
            <span *ngIf="birthdate.errors?.['required']">The birthdate field is required</span>
        </div>
    </div>
    
    <fieldset>
        <label for="image">Image</label>
        <input type="text" id="image" name="image" [(ngModel)]="model.image" #image="ngModel" required>
    </fieldset>
    
    <div *ngIf="createKitten.submitted">
        <div *ngIf="image.errors">
            <span *ngIf="image.errors?.['required']">The image field is required</span>
        </div>
    </div>
    
    <button type="reset">Restaurer</button>
    <button type="submit" [disabled]="createKitten.invalid"
    [ngStyle]="{'background-color': createKitten.valid ? 'green': ''}">Sauvegarder</button>
</form>
